<?xml version="1.0"?>
<config>
    <modules>
        <NationalTiles_Storeswitcher>
            <version>0.1.0</version>
        </NationalTiles_Storeswitcher>
    </modules>
    <frontend>
        <routers>
            <storeswitcher>
                <use>standard</use>
                <args>
                    <module>NationalTiles_Storeswitcher</module>
                    <frontName>storeswitcher</frontName>
                </args>
            </storeswitcher>
        </routers>
        <layout>
            <updates>
                <storeswitcher>
                    <file>storeswitcher.xml</file>
                </storeswitcher>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<storeswitcher>
				<use>admin</use>
				<args>
					<module>NationalTiles_Storeswitcher</module>
					<frontName>storeswitcher</frontName>
				</args>
			</storeswitcher>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<storeswitcher module="storeswitcher">
				<title>Storeswitcher</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="storeswitcher">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>storeswitcher/adminhtml_storeswitcher</action>
					</items>
				</children>
			</storeswitcher>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<NationalTiles_Storeswitcher>
							<title>Storeswitcher Module</title>
							<sort_order>10</sort_order>
						</NationalTiles_Storeswitcher>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<storeswitcher>
					<file>storeswitcher.xml</file>
				</storeswitcher>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <storeswitcher>
                <class>NationalTiles_Storeswitcher_Model</class>
                <resourceModel>storeswitcher_mysql4</resourceModel>
            </storeswitcher>
            <storeswitcher_mysql4>
                <class>NationalTiles_Storeswitcher_Model_Mysql4</class>
                <entities>
                    <storeswitcher>
                        <table>storeswitcher</table>
                    </storeswitcher>
                </entities>
            </storeswitcher_mysql4>
        </models>
        <resources>
            <storeswitcher_setup>
                <setup>
                    <module>NationalTiles_Storeswitcher</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storeswitcher_setup>
            <storeswitcher_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storeswitcher_write>
            <storeswitcher_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storeswitcher_read>
        </resources>
        <blocks>
            <storeswitcher>
                <class>NationalTiles_Storeswitcher_Block</class>
            </storeswitcher>
        </blocks>
        <helpers>
            <storeswitcher>
                <class>NationalTiles_Storeswitcher_Helper</class>
            </storeswitcher>
        </helpers>
    </global>
</config>