<?xml version="1.0"?>
<config>
    <modules>
        <Sti_Googlemapcontact>
            <version>0.1.0</version>
        </Sti_Googlemapcontact>
    </modules>
    <frontend>
        <routers>
         <contacts>
           <args>
            <modules>
             <Sti_Googlemapcontact before="Mage_Contacts">Sti_Googlemapcontact</Sti_Googlemapcontact>
            </modules>
           </args>    
         </contacts>    
        </routers>
        <layout>
            <updates>
                <googlemapcontact>
                    <file>googlemapcontact.xml</file>
                </googlemapcontact>
            </updates>
        </layout>
    </frontend>
        <adminhtml>
		<layout>
			<updates>
				<sti_googlemapcontact>
					<file>googlemapcontact.xml</file>
				</sti_googlemapcontact>
			</updates>
		</layout>
		<acl>
          <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <googlemapcontact>
                                        <title>Custom Conacts Us Page</title>
                                    </googlemapcontact>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
</adminhtml> 
    <global>
        <models>
            <googlemapcontact>
                <class>Sti_Googlemapcontact_Model</class>
            </googlemapcontact>
        </models>
		<blocks>
			<googlemapcontact>
				<class>Sti_Googlemapcontact_Block</class>
			</googlemapcontact>
		</blocks>
       <helpers>
            <googlemapcontact>
                <class>Sti_Googlemapcontact_Helper</class>
            </googlemapcontact>
        </helpers>
    </global>
    <default>
        <googlemapcontact>
            <googlemapcontact>
               <contactsgooglemapyesorno>0</contactsgooglemapyesorno> 
               <contactsgooglemapapikey>http://maps.google.com/maps/api/js?sensor=true</contactsgooglemapapikey>
               <contactsgooglemapheight>400</contactsgooglemapheight>
			   <enableborder>1</enableborder>
			   <contactsgooglemapdesign>#000000</contactsgooglemapdesign>
			   <contactsgooglemapborderwidth>5px</contactsgooglemapborderwidth>
               <contactsgooglemappagelayout>1column</contactsgooglemappagelayout>
			   <contactsgooglemapmapposition>Upper</contactsgooglemapmapposition>
             </googlemapcontact>
        </googlemapcontact>
    </default>  
</config>