<?xml version="1.0"?>
<config>
    <modules>
        <Clarion_PostcodeManagement>
            <version>0.1.0</version>
        </Clarion_PostcodeManagement>
    </modules>
    <frontend>
        <routers>
            <postcodemanagement>
                <use>standard</use>
                <args>
                    <module>Clarion_PostcodeManagement</module>
                    <frontName>postcodemanagement</frontName>
                </args>
            </postcodemanagement>
        </routers>
        <layout>
            <updates>
                <postcodemanagement>
                    <file>postcodemanagement.xml</file>
                </postcodemanagement>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<postcodemanagement>
				<use>admin</use>
				<args>
					<module>Clarion_PostcodeManagement</module>
					<frontName>postcodemanagement</frontName>
				</args>
			</postcodemanagement>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<postcodemanagement module="postcodemanagement">
				<title>PostcodeManagement</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="postcodemanagement">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>postcodemanagement/adminhtml_postcodemanagement</action>
					</items>
				</children>
			</postcodemanagement>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Clarion_PostcodeManagement>
							<title>PostcodeManagement Module</title>
							<sort_order>10</sort_order>
						</Clarion_PostcodeManagement>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<postcodemanagement>
					<file>postcodemanagement.xml</file>
				</postcodemanagement>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <postcodemanagement>
                <class>Clarion_PostcodeManagement_Model</class>
                <resourceModel>postcodemanagement_mysql4</resourceModel>
            </postcodemanagement>
            <postcodemanagement_mysql4>
                <class>Clarion_PostcodeManagement_Model_Mysql4</class>
                <entities>
                    <postcodemanagement>
                        <table>postcodemanagement</table>
                    </postcodemanagement>
                </entities>
            </postcodemanagement_mysql4>
        </models>
        <resources>
            <postcodemanagement_setup>
                <setup>
                    <module>Clarion_PostcodeManagement</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </postcodemanagement_setup>
            <postcodemanagement_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </postcodemanagement_write>
            <postcodemanagement_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </postcodemanagement_read>
        </resources>
        <blocks>
            <postcodemanagement>
                <class>Clarion_PostcodeManagement_Block</class>
            </postcodemanagement>
        </blocks>
        <helpers>
            <postcodemanagement>
                <class>Clarion_PostcodeManagement_Helper</class>
            </postcodemanagement>
        </helpers>
    </global>
</config>